<%- include("partials/header.ejs") %>

<div class="container">
<header class="jumbotron">
    <div class="container">
    <h1>Campgrounds For Yelpcampers</h1>
    <p>View our hand-picked campgrounds from all over the world</p>
    <p><a href="/campgrounds/new" class="btn btn-primary btn-large"> Add new campgrounds</a></p>
    </div>
</header>
<div class="row" style="text-align: center;">
    <% campgrounds.forEach((campground)=>{ %>
    <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="<%= campground.image %>" alt="">
                <div class="caption">
                    <h4><%= campground.name %></h4>
                </div>
                <p><a href="/campgrounds/<%= campground._id%>" class="btn btn-primary">More Info</a></p>
            </div>   
    </div>        
    <% })%>
</div>


</div>

<%- include("partials/footer.ejs") %>